.topimage {
    /*親div*/
    position: relative; /*相対配置*/
  }
  
  .topimage p {
    position: absolute; /*絶対配置*/
    z-index: 1;
    color: rgba(255, 255, 255, 0.8);
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    /* background: skyblue; */
    font-weight: bold; /*太字に*/
    font-size: 2em;
    font-family: Quicksand, sans-serif; /*Google Font*/
  }
  
  .topimage img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    /* position: "static"; */
  }